<h1> <%= name %> You are Logged in to the Login Machine</h1>

<p>powered by Courdevelops</p>


<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
</form>

